openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.fragment.test/Openchrom.log.*
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.fragment.test/Openchrom.log
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.fragment.test/bin/*
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.ui.fragment.test/bin/*
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.ui/bin/*
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson/bin/*
openchrom/sites/net.openchrom.xxd.converter.supplier.wasson.updateSite/artifacts.jar
openchrom/sites/net.openchrom.xxd.converter.supplier.wasson.updateSite/content.jar
openchrom/sites/net.openchrom.xxd.converter.supplier.wasson.updateSite/features/
openchrom/sites/net.openchrom.xxd.converter.supplier.wasson.updateSite/plugins/
openchrom/features/net.openchrom.xxd.converter.supplier.wasson.feature/target/
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson.ui/target/
openchrom/plugins/net.openchrom.xxd.converter.supplier.wasson/target/
openchrom/sites/net.openchrom.xxd.converter.supplier.wasson.updateSite/target/
